html, body, #root {
    height: 100%;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}

#sidebar-wrapper {
    width: 0;
    height: 100%;
    transition: width .25s ease-out;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    white-space: nowrap;
}

#sidebar-wrapper .nav-link {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

#page-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}

.page-content {
    flex: 1 0 auto;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.header-row .nav-tabs {
  border-bottom: 0;
}

.header-row .nav-tabs .nav-link {
  border-bottom: 0;
}

.header-row .nav-tabs .nav-link.active {
  border-bottom: 1px solid #dee2e6;
}

#RenPreviewCollapseCardTitle {
  padding-left: 1.3%;
  padding-top: 1%;
}

#sidebar-clear-search-button {
    margin-top: 0 !important;
}

[data-theme="brite"] #sidebar-clear-search-button {
  margin-top: 3px !important;
}

[data-theme="brite"] #go-to-segment-number-input {
  margin-top: 0.25em;
}

[data-theme="brite"] #go-to-segment-number-length {
  margin-top: 0.25em;
}

[data-theme="brite"] .memory-usage-example,
[data-theme="morph"] .memory-usage-example {
  padding-left: 0.4em !important;
  padding-right: 0.4em !important;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.25em;
}

[data-theme="quartz"] select option {
  color: black;
}

[data-theme="quartz"] #segmentation-preview-modal-body {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

[data-theme="quartz"] #sidebar-wrapper {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

[data-theme="quartz"] #add-source-modal div.modal-content {
    width: 120%;
}

[data-theme="darkly"] .memory-highlight,
[data-theme="quartz"] .memory-highlight {
  color: var(--bs-dark);
}

[data-theme="cyborg"] .cm-editor, [data-theme="darkly"] .cm-editor  {
    color: #212529;
    background-color: #fff;
    border-color: #95cfeb;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(42,159,214,.25);
}

[data-theme="solar"] .cm-tooltip.cm-tooltip-autocomplete > ul > li:not([aria-selected="true"]),
[data-theme="solar"] .cm-tooltip.cm-completionInfo.cm-completionInfo-left,
[data-theme="solar"] .cm-tooltip.cm-completionInfo.cm-completionInfo-right {
    color: black;
}


/* This is needed because of the longer content in the icons below */
.cm-completionIcon {
    width: 1em !important;
    padding-right: 1.5em !important;
}

.cm-completionIcon-Adjective {
    &::after {
        content: 'ADJ'
    }
}


.cm-completionIcon-Noun {
    &::after {
        content: 'NOM'
    }
}


.cm-completionIcon-Verb {
    &::after {
        content: 'VRB'
    }
}


.cm-completionIcon-Determiner {
    &::after {
        content: 'DET'
    }
}


.cm-completionIcon-Particle {
    &::after {
        content: 'PRT'
    }
}

.cm-completionIcon-Preposition {
    &::after {
        content: 'PRP'
    }
}

.cm-completionIcon-Pronoun {
    &::after {
        content: 'PRO'
    }
}

.cm-completionIcon-Numeral {
    &::after {
        content: 'NUM'
    }
}

.cm-completionIcon-Conjunction {
    &::after {
        content: 'CNJ'
    }
}

.cm-completionIcon-Postposition {
    &::after {
        content: 'PST'
    }
}

.cm-completionIcon-Interjection {
    &::after {
        content: 'INT'
    }
}

.cm-completionIcon-Memory {
    &::after {
        content: 'MEM'
    }
}

.highlight-scroll {
  animation: highlight-outline-animation 1.5s ease-out;
}

@keyframes highlight-outline-animation {
  0% {
    outline: 2px solid #0dcaf0; /* Bootstrap's info color */
    outline-offset: -2px;
  }
  100% {
    outline: 2px solid transparent;
    outline-offset: -2px;
  }
}

.tree-outline ul {
  list-style: none;
  padding-left: 2.5rem;
  margin-left: 0;
}

.tree-outline li {
  position: relative;
}

.tree-outline li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  width: 1.5rem;
  height: 1.2em;
  border-bottom: 1px solid #6c757d;
  border-left: 1px solid #6c757d;
}

.tree-outline li::after {
  content: "";
  position: absolute;
  top: 0.8em;
  left: -1rem;
  bottom: 0;
  border-left: 1px solid #6c757d;
}

.tree-outline li:last-child::after {
  display: none;
}

.tree-outline .nav-link {
  padding: 0.25rem 0;
}

.resizable-textarea {
  resize: both;
  overflow: auto;
}

.resizable-popover {
  max-width: none;
}