html, body, #root {
    height: 100%;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent body from scrolling */
}

#sidebar-wrapper {
    height: 100%;
    margin-left: -240px;
    transition: margin .25s ease-out;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .nav-link {
    padding: 0.5rem 1rem;
}

#page-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow this wrapper to grow */
    overflow-y: auto; /* Make this the scrolling container */
    width: 100%;
}

.page-content {
    flex: 1 0 auto;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.header-row .nav-tabs {
  border-bottom: 0;
}

.header-row .nav-tabs .nav-link {
  border-bottom: 0;
}

.header-row .nav-tabs .nav-link.active {
  border-bottom: 1px solid #dee2e6;
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -240px;
    }
}

[data-theme="quartz"] select option {
  color: black;
}